/* styles.css */
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
#back {

    background-image: url('Central-Block-scaled.jpg');
}
a{
    text-decoration: none;
    
}

.container-size{
    width: auto;
    font-size: x-large;
}
header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url('./image-src/Central-Block-scaled.jpg');
    background-size: cover;
    background-position: center;
    color: #003366;

    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.section {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 40px;
}

.section h2 {
    font-size: 28px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 24px;
    }
}
